﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Web.Models.FibonacciViewModel

<!-- TODO: Copied from UI flat file... not implemented -->
<h2>Display a list of Fibonacci numbers</h2>
<div class="row">
    <div class="col-lg-5">
              @using (Html.BeginForm("Index", "Fibonacci", FormMethod.Get))
              {
        <div class="form-group">
            <label for="numbers">Numbers to display:</label>
            @Html.TextBoxFor(x => x.NumberRequested, new { @class = "form-control", @Name = "number", @id = "numbers" })
        </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Generate</button>
            </div>
              }
    </div>
</div>
<div class="row">
    <div class="col-lg-5">
        <div class="well">
            @if (Model.HasResults){
                <p>Results</p>
                foreach (int number in Model.Results){
                    <li>@number</li>
                }
            }
            else
            {
                <p>Please enter a valid number</p>
            }


        </div>
    </div>
</div>